html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class],
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
/* ul[class], */
ol[class] li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  /* display: block; */
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  padding: 0 15px;
}

.title {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
